.blog {
  padding: 60px 0 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__category {
    margin-bottom: 36px;
  }
  &__category-title,
  &__tags-title {
    margin-bottom: 16px;
    @extend %title-font;
    color: $title;
    line-height: 23px;
  }
  &__category-list {
  }
  &__category-item {
    margin-bottom: 12px;
  }
  &__category-link {
    color: inherit;
  }
  &__tags {
    margin-bottom: 50px;
  }
  &__tags-link {
    color: #8f8d8d;
    font-weight: 600;
    font-size: 14px;
    padding: 0 16px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid rgba($color: #454647, $alpha: 0.5);
    border-radius: 14px;
    line-height: 28px;
  }
  &__social {
    display: flex;
  }
  &__social-item {
    margin-right: 20px;
  }
}

.recent-posts {
  margin-bottom: 40px;
  &__title {
    @extend %title-font;
    color: $title;
    line-height: 23px;
    margin-bottom: 24px;
  }
  &__list {
  }
  &__item {
    margin-bottom: 11px;
  }
  &__item-title {
    display: block;
    color: inherit;
  }
  &__date,
  &__author {
    font-size: 14px;
    color: #a1a1a1;
  }
}

.aside {
  width: 350px;
  margin-left: 30px;
  &__search {
    position: relative;
    margin-bottom: 40px;
  }
  &__search-input {
    padding: 6px 48px 6px 18px;
    border: 1px solid rgba($color: $title, $alpha: 0.7);
    border-radius: 20px;
    width: 100%;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
      color: #a1a1a1;
    }
  }
  &__search-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 13px;
    cursor: pointer;
  }
}
